/*
Use your giggi theme:
Select "giggi" theme in the dashboard
On your https://poll.ma.pe/overlay/<id>/ URL add ?giggiCss=https://example.com/style.css

Please keep the link to https://poll.ma.pe visible for a short period of time.
*/

@import url(https://fonts.googleapis.com/css?family=Abel);

/*
* "giggi" refers to the theme assigned to the poll element
*/
.giggi {
    background: #000;
    width: 400px;
    transition: opacity 1s;
    padding: 10px;
    font-family: Abel;
    opacity: 0;
}

.giggi.finished,
.giggi.active {
    opacity: 1;
}

.giggi .metaInfo {
    background: green;
    overflow: hidden;
    padding: 0 10px;
}

.giggi .total,
.giggi .duration {
    background: #444;
    float: left;
    width: 49%;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    line-height: 1.3;
}

.giggi .total strong,
.giggi .duration strong {
    color: #ffa;
    font-size: 20px;
    display: block;
}

.giggi .total {
    margin-right: 2%;
}

.giggi.finished .options li,
.giggi.removing .options li {
    opacity: 0.3;
    transition: all 1s;
}

.giggi.finished .options li.highest,
.giggi.removing .options li.highest {
    color: #ffa;
    opacity: 1;
}

.giggi.finished .options li.help,
.giggi.removing .options li.help {
    height: 0;
}

.giggi.finished .metaInfo,
.giggi.removing .metaInfo {
    opacity: 0.3;
}

.giggi.active .options li.help {
    height: 35px;
}

.giggi .options li {
    position: relative;
    border: 1px;
    padding: 10px;
    color: #fff;
    text-overflow: ellipsis;
    background: #888;
    padding-right: 55px;
    padding-left: 55px;
    font-size: 15px;
}

.giggi .options li.question {
    padding: 10px 20px;
    white-space: normal;
    background: blue;
    clear: both;
    line-height: 1.3;
    font-size: 20px;
    position: relative;
}

.giggi .options li.help {
    background: brown;
    text-align: center;
    overflow: hidden;
    height: 0;
}

.giggi .options li.help span {
    display: block;
    padding: 10px;
}

.giggi .options li .procent {
    position: absolute;
    top: 10px;
    right: 15px;
}

.giggi .options li .number {
    padding: 5px 10px;
    background: #333;
    position: absolute;
    top: 5px;
    left: 10px;
}

.giggi .options li .bar {
    background: #444;
    height: 5px;
    margin-top: 5px;
}

.giggi .options li .bar .bar-inner {
    background: #fff;
    height: 100%;
    width: 0;
    transition: width 1s;
    position: relative;
}

.giggi .options li .text {
    line-height: 1.3;
}

/*
* Optional outer border
*/
.giggi .border {
    border: 5px solid red;
}


.giggi .credits {
    opacity: 0;
    height: 0;
}

.giggi .credits {
    text-align: center;
    opacity: 1;
    transition: all 1s;
    height: 25px;
    clear: both;
    overflow: hidden;
}

.giggi.active .credits,
.giggi.removing .credits {
    height: 0;
    opacity: 0;
}


/*
* Positioning
*/
.giggi.topLeft {
    top: 20px;
    left: 20px;
}

.giggi.topCenter {
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.giggi.topRight {
    top: 20px;
    right: 20px;
}

.giggi.middleLeft {
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
}

.giggi.middleCenter {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.giggi.middleRight {
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
}

.giggi.bottomLeft {
    bottom: 20px;
    left: 20px;
}

.giggi.bottomCenter {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.giggi.bottomRight {
    bottom: 20px;
    right: 20px;
}
